Dots
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 20px;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    background-color: pink;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '';
    text-align: center;

    opacity: .25;
    color: #506a85;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color:#00bc9c;
}




.slick-dots {
	list-style: none;
	padding: 0;
    text-align: center;
    margin: 0 auto;
}

.slick-dots li{
    display: inline-block;
    margin: 0 auto;
}

.slick-dots li button:before{
	font-size: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #506a85;
	border: 0;
	outline: none;
    margin: 0 auto;
}

.slick-dots li button:before {
    background-color:  #00bc9c;
    margin: 0 auto;
}